@page "/DataAdmin"
@using b16blazorIDS2.Models.ids 
@using static Blazor100.Service.ImportExportsService

<PageTitle>管理</PageTitle>

 <Tab IsLazyLoadTabItem="true">
     <TabItem Text="Users">
         <Table TItem="AspNetUsers"
                IsPagination="true"
                IsStriped="true"
                IsBordered="true"
                AutoGenerateColumns="true"
                ShowSearch="true"
                ShowToolbar="true"
                ShowExtendButtons="true"
                DoubleClickToEdit=true
                ShowColumnList=true
                ShowCardView=true>

             <TableToolbarTemplate>
                 <TableToolbarButton TItem="AspNetUsers" Color="Color.Primary" Text="自由编辑" OnClick="@IsExcelToggle" />
             </TableToolbarTemplate>

         </Table>
     </TabItem>
     <TabItem Text="Roles">
         <Table TItem="AspNetRoles"
                IsPagination="true"
                IsStriped="true"
                IsBordered="true"
                AutoGenerateColumns="true"
                ShowSearch="true"
                ShowToolbar="true"
                ShowExtendButtons="true"
                DoubleClickToEdit=true
                ShowColumnList=true
                ShowCardView=true>

             <TableToolbarTemplate>
                 <TableToolbarButton TItem="AspNetRoles" Color="Color.Primary" Text="自由编辑" OnClick="@IsExcelToggle" />
             </TableToolbarTemplate>

         </Table>
     </TabItem>
     <TabItem Text="Logins">
         <Table TItem="AspNetUserLogins"
                IsPagination="true"
                IsStriped="true"
                IsBordered="true"
                AutoGenerateColumns="true"
                ShowSearch="true"
                ShowToolbar="true"
                ShowExtendButtons="true"
                DoubleClickToEdit=true
                ShowColumnList=true
                ShowCardView=true>

             <TableToolbarTemplate>
                 <TableToolbarButton TItem="AspNetUserLogins" Color="Color.Primary" Text="自由编辑" OnClick="@IsExcelToggle" />
             </TableToolbarTemplate>

         </Table>
     </TabItem>
 </Tab>
