@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "恢复码验证";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    您已请求使用恢复代码登录。在您提供之前，不会记住此登录名
    登录时的身份验证器应用程序代码或禁用 2FA 并再次登录。
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="恢复代码" />
                <label asp-for="Input.RecoveryCode" class="form-label"></label>
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">登录</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}