@page "/DayReport"
@namespace b06chart

<Tab>
    <TabItem Text="日报表">
        <ChartsBase @ref="charts"
                    TitleCharts="日报表"
                    数据生成Callback="@((ds)=>数据生成(ds))"
                    Total="@Total" TotalString2="@TotalString2" />

    </TabItem>
    <TabItem Text="数据">
        <Table TItem="Orders"
               IsPagination="true"
               IsStriped="true"
               IsBordered="true"
               AutoGenerateColumns="true"
               ShowSearch="true"
               ShowToolbar="true"
               ShowExtendButtons="true"
               DoubleClickToEdit=true
               ShowColumnList=true
               ShowCardView=true>
        </Table>
    </TabItem>
</Tab>