@page "/TopSales"
@namespace b06chart

<Tab>
    <TabItem Text="销售排行榜"> 
        <ChartsBase @ref="charts"
                    TitleCharts="销售排行榜"
                    数据生成Callback="@((ds)=>数据生成(ds))"
                    Total="@Total" />
    </TabItem>
    <TabItem Text="数据">

        <Table TItem="OrderDetails"
               IsPagination="true"
               IsStriped="true"
               IsBordered="true"
               AutoGenerateColumns="true"
               ShowSearch="true"
               ShowToolbar="true"
               ShowExtendButtons="true"
               DoubleClickToEdit=true
               ShowColumnList=true
               ShowCardView=true>
        </Table>
    </TabItem>
</Tab>
