@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "配置身份验证器应用程序";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div>
    <p>要使用身份验证器应用程序，请执行以下步骤:</p>
    <ol class="list">
        <li>
            <p>
                下载双因素身份验证器应用程序，例如 Microsoft Authenticator
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> 和
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> 或者
                谷歌身份验证器
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> 和
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>扫描二维码或输入此密钥 <kbd>@Model.SharedKey</kbd> 进入您的双因素身份验证器应用程序。空格和大小写无关紧要.</p>
            <div class="alert alert-info">学习如何 <a href="https://go.microsoft.com/fwlink/?Linkid=852423">启用二维码生成</a>.</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
        </li>
        <li>
            <p>
                扫描二维码或输入上面的密钥后，您的双因素身份验证应用程序将为您提供
                有一个独特的代码。在下面的确认框中输入代码。
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" placeholder="请输入密码."/>
                            <label asp-for="Input.Code" class="control-label form-label">验证码</label>
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">验证</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
