@page "/"

<PageTitle>Index</PageTitle>

<div class="row">

    <div class="col-4">
        <VideoPlayer SourcesType="application/x-mpegURL" SourcesUrl="https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8" Debug="true" />
    </div>
    <div class="col-4">
        <VideoPlayer SourcesType="video/mp4" SourcesUrl="//vjs.zencdn.net/v/oceans.mp4" />
    </div>
    <div class="col-4">
        <VideoPlayer SourcesType="application/x-mpegURL" SourcesUrl="https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8" />
    </div>
</div>

<div class="row">


    <div class="col-4">
        <VideoPlayer SourcesType="application/x-mpegURL" SourcesUrl="https://res.cloudinary.com/dannykeane/video/upload/sp_full_hd/q_80:qmax_90,ac_none/v1/dk-memoji-dark.m3u8" />
    </div>
    <div class="col-4">
        <VideoPlayer SourcesType="application/x-mpegURL" SourcesUrl="https://devstreaming-cdn.apple.com/videos/streaming/examples/img_bipbop_adv_example_fmp4/master.m3u8" />
    </div>
    <div class="col-4">
        <VideoPlayer SourcesType="application/x-mpegURL" SourcesUrl="https://moctobpltc-i.akamaihd.net/hls/live/571329/eight/playlist.m3u8" />
    </div>

</div>
<br />

<div class="row">

    <div class="col-4">
        <VideoPlayer SourcesType="application/x-mpegURL" SourcesUrl="https://cph-p2p-msl.akamaized.net/hls/live/2000341/test/master.m3u8" />
    </div>
    <div class="col-4">
        <VideoPlayer SourcesType="application/x-mpegURL" SourcesUrl="https://demo.unified-streaming.com/k8s/features/stable/video/tears-of-steel/tears-of-steel.mp4/.m3u8" />
    </div>
    <div class="col-4">
        <VideoPlayer SourcesType="application/x-mpegURL" SourcesUrl="https://diceyk6a7voy4.cloudfront.net/e78752a1-2e83-43fa-85ae-3d508be29366/hls/fitfest-sample-1_Ott_Hls_Ts_Avc_Aac_16x9_1280x720p_30Hz_6.0Mbps_qvbr.m3u8" />
    </div>

</div>
