<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorOIDC</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WeatherForecast" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 需授权验证的API
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logInfo">
                <span class="oi oi-plus" aria-hidden="true"></span> 登录信息
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AuthorizePage">
                <span class="oi oi-plus" aria-hidden="true"></span> 验证组件
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AuthorizeAdminPage">
                <span class="oi oi-plus" aria-hidden="true"></span> Admin验证组件
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AuthenticationStatePage">
                <span class="oi oi-plus" aria-hidden="true"></span> 验证过程逻辑
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DataAdmin">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 管理
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-plus" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wasm">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wasm
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="_configuration/BlazorOIDC.Client">
                <span class="oi oi-plus" aria-hidden="true"></span> API
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="_configuration/BlazorOIDC.Localhost">
                <span class="oi oi-plus" aria-hidden="true"></span> API2
            </NavLink>
        </div>
    </nav>
</div>

@code 
{
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
