<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor Virtualization</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 虚拟化
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="flex1" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 自适应布局[1]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="flex2" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 自适应布局[2]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="flex3" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 自适应布局[3]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="virtualized" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Orders
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lazyloading" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Lazy Loading
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
