@page
@model SetPasswordModel
@{
    ViewData["Title"] = "设置密码";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>设置你的密码</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    您没有此站点的本地用户名/密码。添加本地
    帐户，这样您就可以在没有外部登录的情况下登录。
</p>
<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="新密码" placeholder="请输入您的新密码."/>
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="新密码" placeholder="请确认您的新密码."/>
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">设置密码</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
