@using Microsoft.Extensions.Logging
 @inherits ComponentBase


<div style="background-color:lawngreen;width:300px;height:40px;" >
     <button>新建</button>
     <button>打开</button>
     <button>保存</button>
</div>

 